<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../static/styles.css">

  <div class="topnav">
    <a href="/">Home</a>
    <a href="/profile">Profile</a>
    <a href="/login">Log In</a>
    <a href="/logout">Log Out</a>
  </div>
</head>

<body>
  <form action="{{ url_for('createTask', groupName=groupName) }}" method="POST">
    <h1>Create a new task!</h1>
    <h3>Please enter task information</h3>
    <label for="Name">Task Name:</label>
    <input type="text" name="Name" required /><br />

    <label for="Description">Task Description:</label>
    <input type="text" name="Description" required /><br />

    <label for="Date">Task Date:</label>
    <input type="date" name="Date" required /><br />

    <input type="submit" value="Submit" /><br />
    {{ msg }}<br />
    <a href="/groupView/{{groupName}}">Back</a><br>
  </form>
</body>

</html>