<!DOCTYPE html>
<html>

<head>
  <title>DeleteAccount</title>
  <link rel="stylesheet" href="../static/styles.css">

  <div class="topnav">
    <a href="/">Home</a>
    <a href="/profile">Profile</a>
    <a href="/login">Log In</a>
    <a href="/logout">Log Out</a>
  </div>
</head>

<body>
    <h3>{{ currentUsername }}, are you sure you want to delete your account? This action cannot be undone.</h3>
    <form action="{{ url_for('deleteAccount') }}" method="POST">
        <input type="radio" id="yes" name="answer" value="True" />
        <label for="yes">Yes</label><br />
        <input type="radio" id="no" name="answer" value="False" />
        <label for="no">No</label><br />

        <input type="submit" value="Submit" /><br /><br />
    </form>
    <a href="/profile">Back</a>
</body>
</html>